@model VmBlog
@{
    ViewData["Title"] = "Details";
    VmBreadCrum vmBreadCrum = new VmBreadCrum() { Desc = "Blog Detail", Page = "Blog" };

}
<!--Page Header-->
<section id="main-banner-page" class="position-relative page-header section-nav-smooth parallax blog-detail-header">
    <div class="overlay overlay-dark opacity-8 z-index-1"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-6 offset-lg-3">
                <div class="page-titles whitecolor text-center padding_top padding_bottom">
                    @foreach (var item in Model.Universals.Where(u => u.Section == "BlogDeHeader"))
                    {
                        <h2 class="font-xlight">@item.UpTitle</h2>
                        <h2 class="font-bold">@item.Title</h2>
                        <h2 class="font-xlight">@item.Subtitle</h2>
                        <h3 class="font-light pt-2">@item.Desc</h3>
                    }
                </div>
            </div>
        </div>
        <partial name="_BreadCrumPartial" model="vmBreadCrum" />
    </div>
</section>
<!--Page Header ends -->
<!-- Our Blogs -->
<section id="our-blog" class="bglight padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-7">
                <div class="news_item shadow">
                    <div class="image">
                        <img src="~/Uploads/Images/@Model.Blog.Image" alt="Latest News" class="img-responsive">
                    </div>
                    <div class="news_desc text-center text-md-left">
                        <h3 class="text-capitalize font-normal darkcolor"><a href="blog-detail.html">@Model.Blog.Title</a></h3>
                        <ul class="meta-tags top20 bottom20">
                            <li><a href="#."><i class="fas fa-calendar-alt"></i>@Model.Blog.AddedDate.ToString("MMMM dd")</a></li>
                            <li><a href="#."> <i class="far fa-user"></i> @Model.Blog.User.Name </a></li>
                            <li><a href="#."><i class="far fa-comment-dots"></i>@Model.Comment.Count(c => c.BlogId == Model.Blog.Id)</a></li>
                        </ul>
                        <p>@Model.Blog.Content</p>

                        <div class="profile-authors heading_space">
                            <h4 class="text-capitalize darkcolor bottom40">Comments</h4>
                            @foreach (var item in Model.Comment.Where(c => c.CommentId == null))
                            {
                                <div class="eny_profile bottom30">
                                    <div class="profile_photo"><img src="~/images/team-1.jpg" alt="Comments"> </div>
                                    <div class="profile_text bottom0">
                                        <h5 class="darkcolor"><a href="#.">Bankee Moune</a></h5>
                                        <a href="javascript:void(0)" class="readmorebtn font-bold"> <i class="fas fa-reply"></i> Reply</a>
                                        <p class="top10 bottom0">@item.Desc</p>
                                    </div>
                                </div>
                                @foreach (var item2 in Model.Comment.Where(c => c.CommentId == item.Id))
                                {
                                    <div class="eny_profile bottom30 ml-3">
                                        <div class="profile_photo"><img src="~/images/team-1.jpg" alt="Comments"> </div>
                                        <div class="profile_text bottom0">
                                            <h5 class="darkcolor"><a href="#.">Bankee Moune</a></h5>
                                            <a href="javascript:void(0)" class="readmorebtn font-bold"> <i class="fas fa-reply"></i> Reply</a>
                                            <p class="top10 bottom0">@item2.Desc</p>
                                        </div>
                                    </div>

                                    @foreach (var item3 in Model.Comment.Where(c => c.CommentId == item2.Id))
                                    {
                                        <div class="eny_profile bottom30 ml-5">
                                            <div class="profile_photo"><img src="~/images/team-1.jpg" alt="Comments"> </div>
                                            <div class="profile_text bottom0">
                                                <h5 class="darkcolor"><a href="#.">Bankee Moune</a></h5>
                                                <a href="javascript:void(0)" class="readmorebtn font-bold"> <i class="fas fa-reply"></i> Reply</a>
                                                <p class="top10 bottom0">@item3.Desc</p>
                                            </div>
                                        </div>
                                    }
                                }
                            }

                        </div>
                        <div class="post-comment">
                            <div class="text-center text-md-left">
                                <h4 class="text-capitalize darkcolor">Add Comment</h4>
                                <p class="bottom20 top20"><small class="fas fa-asterisk"></small> Your Email address will not be published</p>
                                <h5 class="pb-1">Your Rating : <span id="ratingText" class="text-warning">Please Select</span></h5>
                                <ul class="comment top10 bottom30">
                                    <li>
                                        <a href="javascript:void(0)" class="text-warning-hvr " id="rattingIcon">
                                            <i class="far fa-star"></i>
                                            <i class="far fa-star"></i>
                                            <i class="far fa-star"></i>
                                            <i class="far fa-star"></i>
                                            <i class="far fa-star"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <form class="getin_form" id="post-a-comment">
                                <div class="row">
                                    <div class="col-md-6 col-sm-6">
                                        <div class="form-group bottom35">
                                            <label for="first_name1" class="d-none"></label>
                                            <input class="form-control" type="text" placeholder="First Name:" required id="first_name1">
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-6">
                                        <div class="form-group bottom35">
                                            <label for="email1" class="d-none"></label>
                                            <input class="form-control" type="email" placeholder="Email:" required id="email1">
                                        </div>
                                    </div>
                                    <div class="col-md-12 col-sm-12">
                                        <div class="form-group bottom35">
                                            <label for="message" class="d-none"></label>
                                            <textarea class="form-control" placeholder="Message" id="message"></textarea>
                                        </div>
                                    </div>
                                    <div class="col-sm-12 bottom5 text-sm-left text-center">
                                        <button type="submit" class="button gradient-btn">submit request</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-5">
                <aside class="sidebar whitebox mt-5 mt-md-0">
                    <div class="widget shadow heading_space text-center text-md-left">
                        <h4 class="text-capitalize darkcolor bottom20">search By Keyword</h4>
                        <form class="widget_search">
                            <div class="input-group">
                                <label for="searchInput" class="d-none"></label>
                                <input type="search" class="form-control" placeholder="search..." required id="searchInput">
                                <button type="submit" class="input-group-addon"><i class="fa fa-search"></i> </button>
                            </div>
                        </form>
                    </div>
                    <div class="widget heading_space shadow wow fadeIn" data-wow-delay="350ms">
                        <h4 class="text-capitalize darkcolor bottom20 text-center text-md-left">Recent Post</h4>
                        @foreach (var item in Model.RecentBlogs)
                        {
                            <div class="single_post d-table bottom15">
                                <a asp-controller="blog" asp-action="details" asp-route-id="@item.Id" class="post"><img src="~/Uploads/Images/@item.Image" alt="post image"></a>
                                <div class="text">
                                    <a href="#.">@item.Title</a>
                                    <span>@item.AddedDate.ToString("MMMM dd,yyyy")</span>
                                </div>
                            </div>

                        }
                    </div>
                    <div class="widget shadow heading_space text-center text-md-left">
                        <h4 class="text-capitalize darkcolor bottom20">Categories</h4>
                        <ul class="webcats">
                            @foreach (var item in Model.Categories)
                            {
                                <li><a asp-controller="blog" asp-action="index" asp-route-catId="@item.Id">@item.Name <span>(@item.Blogs.Count)</span></a></li>

                            }
                        </ul>
                    </div>
                    <div class="widget shadow heading_space text-center text-md-left">
                        <h4 class="text-capitalize darkcolor bottom20">Tags</h4>
                        <ul class="webtags">
                            @foreach (var item in Model.Tags)
                            {
                                <li><a asp-controller="blog" asp-action="index" asp-route-tagId="@item.Id">@item.Name</a></li>

                            }
                        </ul>
                    </div>
                </aside>
            </div>
        </div>
    </div>
</section>
<!--Our Blog Ends-->
